:root {
  --primary_color: #fbc616;
  --primary_dark_color: #2a2a2a;

  --dark_color_text: #595a5c;
  --light_color_text: #828483;

  --primary_border_color: 1px solid #ecc61b;
  --primary_dark_border_color: #1e1e1e;

  --border-color: #201f1f17;
  --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
  --shadow-color: 0px 10px 30px rgba(118, 85, 225, 0.3);
  --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);

  --box_shadow_btn: 0px 0 14px -1px rgb(221, 221, 221, 0.5);

  --box_shadow_default: 0px 0px 6px 4px #f1f2f4;
  --border_defautl: 1px solid #eff0f2;

  --btn_respond_color: #009746;
  --btn_respond_color_dark: #00843d;
}
